<div id="work_area" class="area--padded">
  <div class="grid-container">

    <section id="current_work" class="grid-x grid-margin-x">

      <div class="cell small-12">
        <h2 id="title-2" class="[ title title--tilt-270 ][ text--grey ]">
          Work
        </h2>
      </div>

      <div class="cell small-12 medium-7 medium-offset-2 grid-x">
        <div class="cell small-12" id="instamojo-logo">
          <img src="{% base64 app/assets/images/instamojo-logo.png %}"
            width="300px"
            alt="Instamojo Logo" title="Instamojo Logo">
        </div>

        <div class="[ cell small-12 ]">
          <p>
            Started in 2012, <a target="_blank" href="https://www.instamojo.com?ref=kingsidharth">Instamojo</a>
            is a fintech platform serving over 6 Lakh businesses in India.
          </p>
          <p>
            Easy to use products and a simple user experience helped us achieve the product-market fit and
            become a leader among fintech products serving the MSME market.
          </p>
          <p>
            I head the design team and manage payments, merchant, & mobile products.
            Read more about my work at Instamojo:
          </p>
          <ul>
            <li>
              <a href="https://uxdesign.cc/instamojo-designing-online-payments-for-indian-businesses-375c5edeb509">
                Payment Links: Designing Online Payments for Indian Businesses
              </a>
            </li>
            <li>
              <a href="https://medium.com/@kingsidharth/re-design-for-business-products-instamojo-rebranding-case-study-f51663533dd">
                (Re)Design for Business Products: Redesigning Instamojo in just 45 days
              </a>
            </li>
            <li>
              <a href="https://medium.com/@kingsidharth/next-day-and-instant-payouts-credit-line-ux-5e81c7bcb6fe">
                Next Day & Instant Payouts: habit building credit lines for businesses
              </a>
            </li>
          </ul>
        </div>
      </div>

    </section><!--#current-->
  </div>
</div><!-- #current_area -->
