<div id="headout_area">
    <div id="headout">

      {% if include.show_list %}
      <div class="[ cell small-12 margin--bottom ]">
        <h2 class="h3">
          Headout (Current)
        </h2>
      </div><!--.cell-->
      {% endif %}

      <div class="[ cell small-12 ]">
        <p style="margin-bottom: 2em;">
          <img src="{% base64 app/assets/images/work/headout-logo.png %}"
            width="250px"
            alt="Headout Logo" title="Headout Logo">
        </p>
      </div><!--.cell-->

      <div class="[ cell small-12 ]">
        <p>
          <a href="https://www.headout.com">Headout</a> sells experiences to
          <strong>millions of tourists across the world</strong> — we specialize in
          <strong>simplifying choices & last-minute availability</strong>.
        </p>
        <p>
          The design & product teams solve customers problems and make their
          experiences more memorable.
          {% if include.show_list %}Read more about the team's work:{% endif %}
        </p>
        {% if include.show_list %}
        <ul>
          <li>
            <div class="[ margin--bottom ]">
              Write-up:
              <a href="https://www.64notes.com/design/inherited-design-redesign/">
                How to Make Sense of Inherited Design
              </a>
            </div>
            <iframe class="[ media--video video--thumbnail-1by2 video--thumbnail ][ margin--bottom-2x ]"
              width="100%" height="auto"
              src="https://www.youtube.com/embed/4e9rfgrW3Vo"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </li>

          <li>
            <div class="[ margin--bottom ]">
              Ticket Redesign Case Study: Taming crazy design problems with Design Frameworks
            </div>
            <iframe class="[ media--video video--thumbnail-1by2 video--thumbnail ][ margin--bottom-2x ]"
              width="100%" height="auto"
              src="https://www.youtube.com/embed/KHKkF8efyMo"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </li>
        </ul>
        {% endif %}
      </div><!--.cell-->

    </div>
</div><!-- #headout_area -->
