<div id="work_2_area" class="area--padded grid-container">
  <div class="grid-x grid-margin-x">
    <div id="headout" class="grid-x grid-margin-x">
      <div class="[ cell small-12 ]">
        <h2 class="title--work">
          Headout (Present)
        </h2>
      </div>

      <div class="[ cell small-12 ]">
        <p style="margin-top: 2em; margin-bottom: 2em;">
          <img src="{% base64 app/assets/images/work/headout-logo.png %}"
            width="250px"
            alt="Headout Logo" title="Headout Logo">
        </p>
      </div>
      <div class="[ cell small-12 ]"

        <p>
          <a href="https://www.headout.com">Headout</a> sells experiences to
          <strong>millions of tourists across the world</strong> — we specialize in
          <strong>simplifying choices & last-minute availability</strong>.
        </p>
        <p>
          The design & product teams solve customers problems and make their
          experiences more memorable. Read more about the team's work:
        </p>
        <ul>
          <li>
            <a href="https://www.64notes.com/design/inherited-design-redesign/">
              How to Make Sense of Inherited Design
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div><!-- #current_area -->
