<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js'>
  <!--<![endif]-->
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#263541" />
    <meta charset="utf-8">

    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/images/favicon.png?stamp=i923409u32049h02394b" type="image/x-icon">

    {% if page.meta_description %}
      <meta name="description" content="{{ page.meta_description }}">
    {% endif %}
    <!-- CSS -->
    <link href="/assets/css/details.css?stamp=i923409u32049h02394b" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/xbv4hpf.css">
    {% if page.slug == 'home' %}
    {% include home_meta.html %}
    {% endif %}
  </head>

  <body class="{{ page.slug }}">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>

  {% include trackers.html %}
</html>
<!-- Looking for soruce code? Check this https://github.com/kingsidharth/kingsidharth.github.com -->
