<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js'>
  <!--<![endif]-->
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#074F58" />
    <meta charset="utf-8">

    <title>
      {% if page.seo_title %}
        {{ page.seo_title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </title>
    <link rel="icon" href="/assets/images/favicon.png?stamp=6678sd6ehks238a4e" type="image/x-icon">
    <link rel="canonical"
      href="{% if page.canonical_url %}{{ page.canonical_url }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">

    <meta name="description" content="{% if page.meta_description %}{{ page.meta_description }}
    {% else %}{{ page.subtitle }}{% endif %}">

    <!-- CSS -->
    <link href="/assets/css/details.css?stamp=6678sd6ehks238a4e" media="all" rel="stylesheet" type="text/css">
    {% if page.slug == 'home' %}
    {% include home_meta.html %}
    {% endif %}
  </head>

  <body class="{{ page.slug }}">
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </body>
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Rubik:400,400i,700,700i&display=swap" rel="stylesheet">
  {% include trackers.html %}
</html>
<!-- Looking for soruce code? Check this https://github.com/kingsidharth/kingsidharth.github.com -->
