/*

  COLOURS

*/


$blue: #074F58;
$highlight: #D1FCFF;
$black:       #001B24;
$white:       #FFFFFF;


$colour-map: (
  blue:     $blue,
  black:     $black,
  white:    $white,
  highlight:     $highlight
)
