

$primary-font: 'myriad-pro', 'Myriad Pro', 'Roboto', 'Lucida Grande', sans-serif;
$headline-font: 'myriad-pro', 'Myriad Pro', 'Roboto', 'Roboto', sans-serif;


// SELECTION

::selection {
  background: $black;
  color: $highlight;
}

::-moz-selection {
  background: $black;
  color: $highlight;
}

// HEADLINES

body {

  @include breakpoint(medium up) {
    font-size: 140%;
  }

  h1 {
    letter-spacing: -1px;
  }

  h2, h3 {
    margin-bottom: 1em;
  }

  a {
    border-bottom: 1px solid $blue;
    &:hover {
      border-bottom: 1px solid scale-color($blue, $lightness: -14%);
    }
  }

  .menu a {
    border-bottom: none;
  }

  li {
    margin-bottom: 1em;
  }

}
