/* Includes all of Inuit as standard
 */

/*----:[IMPORTS]:---- */

/* inuit.css [http://inuitcss.com]
 * Initialize inuit.css framework */

@import "variables";
@import "../_bower_components/inuit.css/defaults";
@import "../_bower_components/inuit.css/inuit";

@import "compass";

@import "helper";

/* The Rules */

/* __________ GENERAL RULES __________ */
body {
  @extend .text--center;
  background: $black;
  color: $white;

  h1, h2, h3, h4, h5, .serif {
    font-family: $serif;
  }
}

::selection {
  background: $blue;
  color: $white;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px dotted $blue;
  &:hover, &:active {
    border-bottom-style: solid;
  }
  &:active {
    border-bottom-color: adjust-lightness($blue, -10%);
    color: adjust-lightness($blue, -10%);
  }
}

ul {
  list-style-type: square;
  margin-left: 2rem;
}

.page {
  @extend .text--left;
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
  max-width: 650px;
  margin: 0 auto;
  &.page--double-padding {
    padding-top: $base-spacing-unit*2;
    padding-bottom: $base-spacing-unit*2;
  }
}


%logo {
  margin-bottom: 0px;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.1em;
  font-family: $base-font-family;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}


#logo {
  @extend %logo;
  transition: 0.3s;
  padding-top: $half-spacing-unit;
  padding-bottom: $half-spacing-unit;
  .skrollable-after & {
    bottom-margin: none;
  }
  .home & {
    font-size: 1em;
  }
}

.tagline {
  @extend .serif;
  letter-spacing: 1px;
  line-height: 2em;
  padding-top: $base-spacing-unit*4;
  padding-bottom: $base-spacing-unit*4;
  span {
    letter-spacing: normal;
  }
}

.text--dark-shadow {
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 10px;
}

.grid__item--rev-padding {
  padding-left: 0px;
  padding-right: $base-spacing-unit;
}
/* __________ AREAS __________ */

#header_area {
  @extend %sticky;
  background-repeat: no-repeat;
  background-color: #5e5958;
  z-index: 10000;
  @include transition(1s);
  @include media-query(lap-and-up) {
    @include translate( 0%, 0%);
    background-size: 110%;
  }
  @include media-query(portable) {
    background-size: cover;
  }

  .page {
    max-width: 800px;
  }
}

  #header {
    text-shadow: rgba(0,0,0,0.65) 0 0px 7px;
    color: $white;

    a {
      color: $white;
    }

    .nav {
      font-size: 0.9em;
    }

    .nav--block li {
      margin-left: $base-spacing-unit/8;
      margin-right: $base-spacing-unit/8;
      &:first-child, &.first {
        margin-left: 0px;
      }
      &:last-child, &.last {
        margin-right: 0px;
      }

      @include media-query(palm) {
        display: block;
        width: 100%;
      }
      a {
        border-bottom: 2px solid $white;
        @include transition(border 0.3s);
        &:hover, &:active, &.active {
          border-color: $blue;
        }
        @include media-query(palm) {
          width: 100%;
          display: block;
        }
      }
    } /* .nav--block li */
  }
    #banner {
      padding-left: $base-spacing-unit/2;
    }


#content_area {
}
  #content {
    ul {
      list-style-type: square;
    }
    ul, ol {
      margin-left: 2.2rem;
    }
    .entry-title {
      letter-spacing: -1px;
    }
    h2 {
      font-size: 1.5em;
      font-weight: 100;
      line-height: 1.6em;
      margin-bottom: 0.25em;
    }
    .poem {
      p {
        margin-bottom: 0.4em;
      }
      hr {
        width: 50%;
        border-width: 1px 0 0 0;
        border-color: rgba(255, 255, 255, 0.3);
      }
      .date {
        font-size: 0.8em;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .intro {
        font-size: 0.9em;
        font-weight: 100;
      }
    }
  }

    #social-media-follow {
      li {
        margin-bottom: 0.8em;
      }
    }

  #content .headline_area {
    margin-bottom: 1.6rem;
    .entry-title {
      margin-bottom: 0;
    }
    .sub-title {
      font-weight: normal;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

/* __________ PAGE SPECIFIC __________ */

.sticky {
  @extend %sticky;
}


%blockquote {
  quotes: "“" "”";
  &:before, &:after {
    font-size: 1.3em;
    font-family: 'Noto Serif', Georgia, sans-serif;
    color: $grey;
  }
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

#intro_area {
  @include media-query(lap-and-up) {
    //margin-top: 260px;
  }
  > .page {
    > div {
      @extend .palm-center;
    }
  }
  blockquote {
    @extend .delta;
    @extend .no-bottom-margin;
    // Dirty, dirty hacks
    font-weight: bold;
    margin-left: 8px;
    margin-right: -6px;
  }
  p {
    color: $white;
  }
}

  #tagline {
    @extend .text--center;
    @extend .delta;
    font-weight: normal;
    letter-spacing: 0.5px;
  }

.circle {
  border-radius: 50%;
}


/* ----:[Responsive]:---- */
@include media-query(palm) {
  #social-media-follow {
    display: none;
  }
  #content {
    padding-top: 1em;
    .main-body {
      padding: 0 1em;
    }
  }
}

/* ---:[Helper Classes]:--- */
.no-bottom-margin {
  margin-bottom: 0px!important;
}

.nav {
  letter-spacing: normal;
  word-spacing: normal;
}

/* --:[Buttons]:--- */

@mixin button-base {
  padding: $base-spacing-unit/2 $base-spacing-unit;
  display: inline-block;
  text-decoration: none!important;
  line-height: 1em;
}

@mixin button($accent-color, $text-color) {
  @include button-base;
  background-color: $accent-color;
  color: $text-color!important;
  border-radius: 3em;
  border: none;
  position: relative;
  @include transition(all 0.3s);
  &:hover, &:focus, .active {
    background-color: adjust-lightness($accent-color, -10%);
    border: none;
  }
  &:active {
    background-color: adjust-lightness($accent-color, -20%);
    @include box-shadow($accent-color 0px 0px 0px 0.2em);
  }

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    @include transition( all 0.3s);
  }
  &:after {
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    background: $text-color;
  }
  &:hover:after {
    width: 100%;
  }
}

.button, .btn, button {
  @include button($blue, $white);
}
