/* Includes all of Inuit as standard
 */

/*----:[IMPORTS]:---- */

/* inuit.css [http://inuitcss.com]
 * Initialize inuit.css framework */

@import "variables";
@import "../_bower_components/inuit.css/defaults";
@import "../_bower_components/inuit.css/inuit";

@import "compass";

@import "helper";

/* The Rules */

/* ----:[Typography]:---- */
body {
  background: $black;
  color: $white;
  @extend .text--center;
}

a {
  color: $blue;
  text-decoration: none;
  border-bottom: 1px dotted $blue;
  &:hover, &:active {
    border-bottom-style: solid;
  }
  &:active {
    border-bottom-color: adjust-lightness($blue, -10%);
    color: adjust-lightness($blue, -10%);
  }
}

.page {
  max-width: 960px;
  height: auto;
  margin: 0 auto;
  @extend .text--left;
}

#header_area {
  .page {
    margin-top: 1.2em;
    width: 100%;
    max-width: 100%;
  }
}
  #header {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    text-shadow: rgba(0,0,0,0.65) 0 0px 7px;
    color: $white;

    a {
      color: $white;
    }

    .nav {
      text-transform: uppercase;
    }
    .nav--block li {
      @include media-query(palm) {
        display: block;
        width: 100%;
      }
      a {
        letter-spacing: 1px;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        @include transition(border 0.3s);
        &:hover, &:active, &.active {
          border-color: $white;
        }
        @include media-query(palm) {
          width: 100%;
          display: block;
        }
      }
    }
  }

%logo {
  font-size: 1.4em;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 3px;
  @extend .text--center;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

#logo {
  @extend %logo;
}
.home #logo {
  @extend %logo;
  margin-top: 2em;
  margin-bottom: 2em;
}


#content_area {
  .page {
    max-width: 600px;
  }
}

  #content {
    ul {
      list-style-type: square;
    }
    ul, ol {
      margin-left: 2.2rem;
    }
    .entry-title {
      letter-spacing: -1px;
    }
    h2 {
      font-size: 1.5em;
      font-weight: 100;
      line-height: 1.6em;
      margin-bottom: 0.25em;
    }
    .poem {
      p {
        margin-bottom: 0.4em;
      }
      hr {
        width: 50%;
        border-width: 1px 0 0 0;
        border-color: rgba(255, 255, 255, 0.3);
      }
      .date {
        font-size: 0.8em;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      .intro {
        font-size: 0.9em;
        font-weight: 100;
      }
    }
  }

    #social-media-follow {
      li {
        margin-bottom: 0.8em;
      }
    }


  #content {
    padding-top: 75px;
  }

  #content .headline_area {
    margin-bottom: 1.6rem;
    .entry-title {
      margin-bottom: 0;
    }
    .sub-title {
      font-weight: normal;
      font-size: 1em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

#home_background{
  top: 0px;
  display: none;
  left: 0px;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  z-index: 1;
  @include experimental(filter, blur(0px), true, true, true, true, false, true);

  @include transition(filter 0.5s);

  @include media-query(palm) {
    @include experimental(filter, blur(5px), true, true, true, true, false, true);
  }
    
}
#home_content_area {
}
.home {
  .block-list {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0px;
    > li {
      display: block;
      margin-bottom: 0.2em;
    }
  }
}

blockquote {
  quotes: "“" "”";
  &:before, &:after {
    font-size: 1.3em;
    font-family: 'Noto Serif', Georgia, sans-serif; 
    color: $grey;
  }
  &:before {
    content: open-quote;
  }
  &:after {
    content: close-quote;
  }
}

    

#intro_area {
  > div {
  }
  blockquote {
    @extend .no-bottom-margin;
    @extend .delta;
    font-weight: bold;
    letter-spacing: 2px;
  }
  p {
    color: $grey;
  }
}

  #tagline {
    @extend .text--center;
    @extend .delta;
    font-weight: normal;
    letter-spacing: 0.5px
  }

.circle {
  border-radius: 50%;
}


/* ----:[Responsive]:---- */
@include media-query(palm) {
  #social-media-follow {
    display: none;
  }
  #content {
    padding-top: 1em;
    .main-body {
      padding: 0 1em;
    }
  }
}

/* ---:[Helper Classes]:--- */
.no-bottom-margin {
  margin-bottom: 0px!important;
}
