/*
 * Includes all of Inuit as standard
 */

/*----:[IMPORTS]:----*/

/* inuit.css [http://inuitcss.com]
 * Initialize inuit.css framework

@import "variables"
@import "../../vendor/inuit.css/vars"
@import "../../vendor/inuit.css/inuit.css/inuit"

@import "compass"

/* The Rules */

/* ----:[Typography]:---- */
body
  +sans
#content
  ul
    list-style-type: square
  ul, ol
    margin-left: 2.2rem
  .entry-title
    letter-spacing: -1px
  h2
    font-size: 1.5em
    font-weight: 100
    line-height: 1.6em
    margin-bottom: 0.25em
  .poem
    p
      margin-bottom: 0.4em
    hr
      width: 50%
      border-width: 1px 0 0 00
      border-color: rgba(255,255,255,0.3)
    .date
      font-size: 0.8em
      letter-spacing: 1px
      text-transform: uppercase
    .intro
      font-size: 0.9em
      font-weight: 100

body
  background: $black
  color: $white
a
  color: $blue

.page
  max-width: 800px

#content_area
 
#sidebar
  text-align: right
  background: rgba(0,0,0,0.6)
  small
    font-weight: 100

#social-media-follow 
  li
    margin-bottom: 0.8em

#logo
  margin: 20px 0
  font-size: 1.4em
  font-weight: normal
  text-transform: uppercase
  letter-spacing: 1px
  line-height: 1.6em
  a
    color: $white
    &:hover
      text-decoration: none
  /*a
    background: url('../../../images/logo.png') center center no-repeat
    background-size: cover
    display: block
    height: 100px
    text-indent: -100000px
    font-size: 0px*/

#content
  padding-top: 75px 
  background: rgba(0,0,0,0.6)
  +box-shadow(rgba(0,0,0,0.8) 1px 0 0)


#fixed-side
  position: fixed 
  top: 0
  left: 0

#content .headline_area
  margin-bottom: 1.6rem
  .entry-title
    margin-bottom: 0
  .sub-title
    font-weight: normal
    font-size: 1em
    text-transform: uppercase 
    letter-spacing: 1px


/* ----:[Responsive]:---- */
@include media-query(palm)
  #sidebar
    background: rgba(0,0,0,0.75)  
    text-align: center
    #main-navigation
      .nav
        li 
          margin-bottom: 5px
          a
            border-bottom: 1px solid rgba(255,255,255,0.3)
    #fixed-side
      position: relative!important
      top: 0
      left: 0
    #social-media-follow
      display: none
  #content
    background: rgba(0,0,0,0.75)  
    padding-top: 1em
    border-top: 1px solid rgba(255,255,255,0.5)
    .main-body
      padding: 0 1em
    
