---
layout: base
title: "King Sidharth"
slug: "home"
background: king-sidharth-meditation.jpg 
---

{% include header.html %}

<div id="intro_area" class="grid" >
  <div class="page page--double-padding">
    <div class="grid__item one-half palm-one-whole">
      <blockquote>That you are</blockquote>
      <p class="milli">Tat-tvam-asi &bull; तत् त्वम् असि</p>
    </div><!--
    --><div class="grid__item  one-half palm-one-whole desk-right grid__item--rev-padding">
      <blockquote>That I am</blockquote>
      <p class="milli">So-aham &bull; सो ऽहम्</p>
    </div>
  </div>
</div><!-- #intro_area -->

<div id="content_area" class="grid has_multi_page">
<div id="instamojo_area" class="grid" >
  <div class="page" id="instamojo">
    <h2 class="grid__item one-whole">I work with crazy people at Instamojo</h2>
    <p class="grid__item one-whole">Till now online payments was a luxury which only big companies or developers could afford. Instamojo is bringing online payments to masses. Just imagine the lives it will change.</p>
  </div><!-- #instamojo -->
</div><!-- #instamojo_area -->
<div class="grid">
  <div class="page">
    <div class="grid__item one-whole">
      <h2>I write at...</h2>
      <ul class="block-list">
        <li><a href="http://www.64notes.com">64 Notes</a> about <strong>Entrepreneurship</strong>, life &amp; <strong><a href="http://www.64notes.com/design/">Design</a></strong>.</li>
        <li><a href="http://anamorphic.in">Anamorphic</a> about the <strong>Books</strong> I read &amp; the <strong>Films</strong> I watch.</li>
        <li>Sometimes I fancy myself to be a <a href="/poems">poet</a>.</li>
        <li class="milli"><a href="/writings">See the full list &rarr;</a></li>
      </ul>
    </div>
    <div class="grid__item one-whole">
      <h2>I talk a lot.</h2>
      <p>A little too much. I've talked about <strong>Entrepreneurship, Design</strong> &amp; other stuff. I've given talks at <strong>TEDx, WordCamps,</strong> Startup Saturday, Engineering Colleges, Schools, etc.</p>
    </div>
    <div class="grid__item one-whole">
      <p>It's also been noted that he is obsessed with The Teachings of Abraham, Pink Floyd, Lucy in the Sky with Diamonds, cribbing, shoes, &amp; ampersand. He even dropped-out of college. <em>Weiredo</em>.</p>
      <p>He likes people to wonder about <a href="">the 'King' part</a>.</p>
      <ul class="nav nav--block">
        <li><a href="" target="">@kingsidharth</a></li>
        <li>
          <div id='fb-root'></div>
          <a href="https://www.facebook.com/kingsidharth" class="fb-subscribe" data-href="https://www.facebook.com/kingsidharth" data-layout="button_count" data-show-faces="false" data-font="lucida grande" data-width="450" style="top:2px;"></a>
        </li>
      </ul>
      {% endcomment %}
    </div>
  </div>
</div><!-- content_area -->

{% include footer.html %}
