---
layout: base
title: "@kingsidharth —  Designer, Entrepreneur, & Public Speaker from India"
slug: "home"
meta_description: "Sidharth is an Entrepreneur, Designer, & Public Speaker from India
  — 2x TEDx + 30 Colleges. Solving design, UX, & product problems at Headout.com"
---

<div id="intro_area">
  <div class="grid-container">
    <div id="intro" class="[ grid-x align-top ]">

      <div id="" class="[ cell shrink small-12 medium-2 text-center ]">
        <img src="/assets/images/king-sidharth.jpg"
          alt="King Sidharth" title="King Sidharth"
          class="">
      </div>

      <div class="[ cell small-12 medium-10 large-9 ][ home__intro ][ grid-x grid-margin-x ]">
        <h1 class="[ cell small-12 ]">Designer, Builder, & Public Speaker</h1>

        <div class="[ cell small-12 medium-6 ][ home__intro ]">
          <p>
            Serving millions of customers & solving
            <strong>Design, UX, & Product</strong> at <a href="/work/#headout" target="_blank">Headout</a>.
          </p>
          <p>
            Been solving startup problems for the last 10+ years.
          </p>
          <p>
            Given 40+ talks; at colleges & 2x TEDx about <strong>entrepreneurship, startups, design & consumer behaviour, and future careers</strong>.
          </p>
        </div>
        {% comment %}
        <div class="[ cell small-12 medium-6 ][ home__intro ]">
          <p>
            <a href="/history">In the past</a>, I worked with startups like
            <a href="/work/#instamojo">Instamojo</a>,
            ClearTax, Akosha & L-pad and ran a UX design agency.
          </p>
        </div
        {% endcomment %}
      </div>

    </div><!-- #intro -->
  </div>
</div><!-- #intro_area -->

<div>
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="[ cell small-12 large-7 ][ margin--bottom-2x ]">
        {% include media.html %}
      </div><!--.cell-->
    </div>
  </div>
</div>

<div id="work_area" class="background--grey area--padded">
  <div class="grid-container">
    <div id="work" class="[ grid-x grid-margin-x align-top ]">

      <h2 class="[ cell small-12 ]">Work</h2>

      <div class="[ cell small-12 medium-6 ][ work-1 ]">
        <h4>Headout</h4>
        <p>
           Headout sells experiences to millions of tourists across the world —
           simplifying choices, value for money, & last-minute availability is our promise.
        </p>
        <p>
          <a href="/work/">Read more to know about the problems we solve at Headout</a>.
        </p>
      </div><!-- .work-1 -->

      <div class="[ cell small-12 medium-6 ][ work-2 ]">
        <h4>Past</h4>
        <p>
          <strong>Instamojo:</strong> Scaled design & product from 100 to 5 Lakh + MSME — making it the
          largest MSME platform in the country. At Instamojo, the team built
          products like <a href="https://uxdesign.cc/instamojo-designing-online-payments-for-indian-businesses-375c5edeb509">Payment Links</a>
          & <a href="https://medium.com/@kingsidharth/smart-links-product-building-d8b5f21c43db">Smart Links</a>.
        </p>
        <p>
          <a href="/work/">Read more here</a> or checkout <a href="https://www.usereconomics.com/?ref=kingsidharth" target="_blank">the portfolio</a>
           or <a href="/histroy">history</a>.
        </p>
      </div><!-- .work-2 -->

      <div class="[ cell small-12 medium-6 ]">
      </div>

    </div>
  </div>
</div>

<div id="speaking_area" class="area--padded">
  <div class="grid-container">
    <div id="speaking" class="[ cell small-12 grid-x align-middle ]">
      {% include speaking.html %}
    </div>
  </div>
</div>


<div id="project_area" class="background--grey area--padded">
  <div class="grid-container">
    <div id="projects__youtube" class="[ grid-x grid-margin-x ][ cell small-12 ]">
      <div class="[ cell small-12 ]">
        <h2>Videos on Design, Product, Startups, & Career</h2>
      </div>
      <div class="[ cell small-12 medium-4 ]">
        {% include components/youtube_video.html id="KHKkF8efyMo" %}
      </div>
      <div class="[ cell small-12 medium-4 ]">
        {% include components/youtube_video.html id="Dm7h3YmAfJc" %}
      </div>

      <div class="[ cell small-12 medium-4 ]">
        <p>
           Behind the scenes — what goes in making the digital products we use
           everyday? Learn from product, design, data, and business thinking from real life!
        </p>
        <p>
          <a href="" target="_blank">Checkout the YouTube Channel &rarr;</a>
        </p>
      </div>

      <div class="[ cell small-12 medium-10 ]">
        <p>
          Also watch interviews with various industry professionals working
          on the next big thing. Learn about how they got where they are, what
          did they study? How did they get their first job and what did they
          learn on the way?
        </p>
      </div>

      <div class="[ cell small-12 medium-4 ]">
        {% include components/youtube_video.html id="cON71ubQqSs" %}
      </div>
      <div class="[ cell small-12 medium-4 ]">
        {% include components/youtube_video.html id="IBs7lZ3lNYs" %}
      </div>
      <div class="[ cell small-12 medium-4 ]">
        {% include components/youtube_video.html id="3PgdXlxkVEU" %}
      </div>
    </div>
  </div>
</div>

<div id="project_area_2" class="area--padded">
  <div class="grid-container">

    <div id="project__newsletter_blog" class="[ grid-x grid-margin-x ][ cell small-12 ]">
      <div class="[ cell small-12 medium-4 ]">
        <h4><a href="https://www.64notes.com/" target="_blank">64 Notes — the Blog</a></h4>
        <p>
          Been sharing notes on business, design, product building and other
          stuff on this blog since a decade.
        </p>
      </div>
      <div class="[ cell small-12 medium-4 ]">
        <h4><a href="https://mailchi.mp/6ae07cdfd463/64nn_sub" target="_blank">Tissue Notes Newsletter</a></h4>
        <p>
          Private notes on design, product, startups, tech, and business — usually not published elsewhere.
        </p>
        <p>
          Also keep-up with everything else.
        </p>
      </div>
      <div class="[ cell small-12 medium-4 ]">
        <h4><a href="https://anchor.fm/kingsidharth/" target="_blank">Anamorphic the Podcast</a></h4>
        <p>A podcast in conversation with industry experts on deisgn, product, startups, and more.</p>
      </div>
    </div>
  </div>
</div>
