---
layout: pages
title: "Work"
subtitle: ""
slug: work
---
<article class="post grid-x" data-destination="media-mentions">
  <div class="[ cell ][ margin--bottom-2x ]">
    {% include work/headout.html show_list="true" %}
  </div>
  <hr class="[ cell ][ margin--bottom-2x ]">
  <div class="[ cell ][ margin--bottom-2x ]">
    {% include work/instamojo.html %}
  </div>
  <hr class="[ cell ][ margin--bottom-2x ]">
  <div class="[ cell ][ margin--bottom-2x ]">
    {% include work/past.html %}
  </div>
</article>
