---
layout: pages
title: "Work"
seo_title: "King Sidharth's Work"
subtitle: "Solving user & business problems since last 10+ years."
slug: work
meta_description: "Sidharth ran several business in the past including an online magazine,
a design agency, and helped scale startups like Instamojo. Currently solving Design, UX,
& Product problems at Headout."
---
<article class="post [ grid-x grid-margin-x ]" data-destination="media-mentions">
  <div class="[ cell small-12 large-6 ][ margin--bottom-2x ]">
    {% include work/headout.html show_list="true" %}
  </div>
  <div class="[ cell small-12 large-6 ][ margin--bottom-2x ]">
    {% include work/instamojo.html %}
  </div>
  <div class="[ cell small-12 large-8 ][ margin--bottom-2x ]">
    {% include work/past.html %}
  </div>
</article>
