---
layout: pages
title: "Work"
seo_title: "King Sidharth's Work"
subtitle: "Solving user & business problems since last 10+ years."
slug: work
meta_description: "Sidharth ran several business in the past including an online magazine,
a design agency, and helped scale startups like Instamojo. Currently solving Design, UX,
& Product problems at Headout."
---
<article class="post grid-x" data-destination="media-mentions">
  <div class="cell small-12 medium-9 large-7">
    <div class="[ cell ][ margin--bottom-2x ]">
      {% include work/headout.html show_list="true" %}
    </div>
    <hr class="[ cell ][ margin--bottom-2x ]">
    <div class="[ cell ][ margin--bottom-2x ]">
      {% include work/instamojo.html %}
    </div>
    <hr class="[ cell ][ margin--bottom-2x ]">
    <div class="[ cell ][ margin--bottom-2x ]">
      {% include work/past.html %}
    </div>
  </div>
</article>
