/*

  HEADER::COMPONENTS

*/

#header {
  padding-top: 1em;
}

#logo {
  @include breakpoint(small only) {
    text-align: center;
    margin-bottom: 1rem;
  }
}

#main_navigation {
  .menu {
    justify-content: flex-end;
    @include breakpoint(small only) {
      justify-content: center;
    }
  }
}
