/*

  HEADER::COMPONENTS

*/

#header_area {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 2px;
}

#header {
  padding-top: 1em;
}

#logo {
  @include breakpoint(small only) {
    text-align: center;
    margin-bottom: 1rem;
  }
}

#main_navigation {
  .menu {
    justify-content: flex-end;
    @include breakpoint(small only) {
      justify-content: center;
    }
  }
}

#social_nav_area {
  .menu li {
    text-align: center;
    margin-bottom: 0;
  }
}
