/*

  HEADLINE AREA::COMPONENTS

*/

#headline_area {
  .headline {
    h1 {
      font-size: 3rem;
    }
    @include breakpoint(small only) {
      text-align: center;
    }
  }

  .subheader {
    font-size: 1.5rem;
  }
}
