/*

  HOME::PAGES

*/

#intro {
  @include breakpoint(small only) {
    margin-top: 2rem;
  }

  @include breakpoint(large up) {
    margin-top: 6em;
    margin-bottom: 6em;

    h1 {
      font-size: 3rem;
      margin-bottom: 4rem;
    }
  }

  .photo {
    @include breakpoint(medium up) {
      margin-top: 0;
      margin-bottom: 1.2em;
    }
  }

  .logo {
    margin-bottom: 1em;
  }

  .headline {
    @include breakpoint(small) {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    @include breakpoint(large up){
      margin-top: 3em;
      margin-bottom: 1.5em;
      margin-left: 0px;
    }

    span {
      font-size: 1.3em;
    }

  }

}

#circle {
  text-align: center;
  img {
    background: transparent;
  }

  @include breakpoint(small only) {
    text-align: center;
    margin-bottom: 1rem;
  }

}


.home__intro {
  font-size: 1.25rem;
}
