/*

  HOME::PAGES

*/

#intro {
  .photo {
    @include breakpoint(medium up) {
      margin-top: 0;
      margin-bottom: 1.2em;
    }
  }

  .logo {
    margin-bottom: 1em;
  }

}

#circle {
  text-align: center;
  img {
    background: transparent;
  }

  @include breakpoint(small only) {
    text-align: center;
    margin-bottom: 1rem;
  }

  @include breakpoint(large up) {
    position: relative;
    left: 10%;
  }
}
