<meta property="og:type"                 content="profile">
<meta property="og:title"                content="@kingsidharth">
<meta property="og:url"                  content="https://www.kingsidharth.com">
<meta property="og:description"          content="Sidharth is an Entrepreneur, Product & Design Leader, Public Speaker from India.">
<meta property="og:image"                content="/assets/images/king-sidharth.jpg">
<meta property="profile:first_name"      content="King">
<meta property="profile:last_name"       content="Sidharth">
<meta property="fb:profile_id"           content="kingsidharth">
<meta property="app_id"                  content="171634969647127">
