<div id="speaking_area" class="">
  <div class="grid-container">
    <section id="speaking">
      <section class="[ grid-x grid-margin-x ]">

        <div class="cell small-12 medium-6 medium-offset-1">
          <h2 class="text--grey" style="font-style: italic;">Speaking</h2>
          <div>
            <iframe width="100%"  height="220"
              src="https://www.youtube-nocookie.com/embed/8qmJvW5xKjo?rel=0"
              frameborder="0"
              style="margin: 0 auto;"
              allowfullscreen>
            </iframe>
          </div>
          <p>&nbsp;</p>
        </div>

        <div class="cell small-12 medium-7 medium-offset-4">
          <p>
            About entrepreneurship & career-choices in the tech industry at colleges like—
            <strong>BITS Pilani (Goa), VIT, NITs, VJTI (Mumbai), etc.</strong>
          </p>
          <p>
            And about design & user psychology at events like—
            <strong>TEDx, Startup Saturdays, WordCamps, Design Day, The UX Project, Behance Design Review</strong>, and more.
          </p>
          <p><a href="http://www.64notes.com/speaking">See More &rarr;</a></p>
        </div>

      </section>
    </section>
  </div>
</div><!-- speaking_area -->
