<div id="speaking_area" class="area area--padded">
  <div class="grid-container">
    <section id="speaking">
      <section class="[ grid-x grid-margin-x medium-margin-collapse ]">

        <div class="cell small-12">
          <h2 class="text--grey">Speaking</h2>
          <div>
            <iframe width="100%"  height="220"
              src="https://www.youtube-nocookie.com/embed/8qmJvW5xKjo?rel=0"
              frameborder="0"
              style="margin: 0 auto;"
              allowfullscreen>
            </iframe>
          </div>
          <p>&nbsp;</p>
        </div>

        <div class="cell small-12">
          <p>
            Been a speaker several events including <strong>TEDxVBIT, TEDxTirupati,
            TechSparks, Startup Saturday Mumbai, WordCamps, Design Day,
            The UX Project, Behance Design Review</strong>.
          </p>
          <p>
            Also, at 50+ colleges like  <strong>BITS Pilani (Goa), VIT, NITs, VJTI, NITK</strong>.
          </p>
          <p><a href="http://www.64notes.com/speaking" target="_blank">Read More &rarr;</a></p>
        </div>

      </section>
    </section>
  </div>
</div><!-- speaking_area -->
