<div id="headout" class="[ grid-x grid-margin-x ]">
  <div class="[ cell small-12 ]">
    <p class="margin--top margin--bottom">
      <img src="{% base64 app/assets/images/work/headout-logo.png %}"
        width="250px"
        alt="Headout Logo" title="Headout Logo">
    </p>
  </div><!--.cell-->

  <div class="[ cell small-12 medium-6 large-4 ]">
    <p>
      <a href="https://www.headout.com">Headout</a> sells experiences to
      <strong>millions of tourists across the world</strong> — we specialize in
      <strong>simplifying choices & last-minute availability</strong>.
    </p>
    <p><a href="/work/">Read More &rarr;</a></p>
  </div>

  <div class="[ cell small-12 medium-6 large-4 ]">
    <iframe class="[ media--video video--thumbnail-1by4 video--thumbnail ][ margin--bottom-2x ]"
      width="100%" height="auto"
      src="https://www.youtube.com/embed/KHKkF8efyMo"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div><!--.cell-->

  <div class="[ cell small-12 medium-6 large-4 ]">
    <iframe class="[ media--video video--thumbnail-1by4 video--thumbnail ][ margin--bottom-2x ]"
      width="100%" height="auto"
      src="https://www.youtube.com/embed/4e9rfgrW3Vo"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div><!--.cell-->

</div><!--#headout-->
