<footer id="footer_area" class="grid">
  <div class="page">
    <div id="footer">
      <ul id=social-media-follow class="nav nav--stacked">
        <li class='facebook'>
          <div id='fb-root'></div>
          <div class="fb-subscribe" data-href="https://www.facebook.com/kingsidharth" data-layout="button_count" data-show-faces="false" data-font="lucida grande" data-width="450"></div>
        </li>
        <li class='twitter'>
          <a href="https://twitter.com/kingsidharth" target="_blank" class="twitter-follow-button" data-show-count="false"
            data-show-screen-name="false">@kingsidharth</a>
        </li>
      </ul><!-- #social-media-follow -->
      <small class="copy">&copy; 2008 - 2013.</small>
      <small><a href="/colophon">Colophon</a><a href="https://plus.google.com/100630005600562803456/" rel="author">.</a></small>
    </div>
  </div>
</footer>

<!-- build:js /assets/js/lib.min.js -->
<script src="_bower_components/jquery/jquery.min.js"></script>
<script src="_bower_components/skrollr/dist/skrollr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- endbuild -->
<!-- build:js /assets/magic.min.js -->
<script src="assets/js/magic.js"></script>
<!-- endbuild -->
