
<div id="contact_area" class="area--padded">
  <div class="grid-container">
    <div id="contact" class="grid-x grid-margin-x">

      <div class="cell small-12 text-center">
        <h4>Get in Touch</h4>
        <ul class="menu align-center">
          <li>
            <a href="https://twitter.com/kingsidharth" target="_blank">
              Twitter
            </a>
          </li>
          <li>
            <a href="https://medium.com/@kingsidharth" target="_blank">
              Medium
            </a>
          </li>
          <li>
            <a href="https://instagram.com/kingsidharth" target="_blank">
              Instagram
            </a>
          </li>
          <li>
            <a href="mailto:me@kingsidharth.com">
              Mail
            </a>
          </li>
        </ul>
        <!-- <ul class="menu align-center small-12">
          <li>
            <a href="https://twitter.com/kingsidharth">
              <img class="icon--social" src="/assets/images/icons/icon-twitter.png" alt="Twitter" >
            </a>
          </li>
          <li>
            <a href="https://medium.com/@kingsidharth">
              <img class="icon--social" src="/assets/images/icons/icon-medium.png" alt="Medium" >
            </a>
          </li>
          <li>
            <a href="https://instagram.com/kingsidharth">
              <img class="icon--social" src="/assets/images/icons/icon-instagram.png" alt="Instagram" >
            </a>
          </li>
          <li>
            <a href="contact@kingsidharth.com">
              <img class="icon--social" src="/assets/images/icons/icon-email.png" alt="Email" >
            </a>
          </li>
        </ul> -->
      </div>

    </div>
  </div>
</div><!-- #contact_area -->


<footer id="footer_area" class="area--padded">
  <div class="grid-container">
    <div id="footer" class="grid-x grid-margin-x">
      <div class="cell small-12">
        <small class="copy">&copy; {{ site.time | date: "%Y" }}.</small>
        <small><a href="/colophon">Colophon</a><a href="https://plus.google.com/100630005600562803456/" rel="author">.</a></small>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/assets/js/bundle.js" charset="utf-8"></script>
