{% include divider.html class="line--grey-1" %}

<footer id="footer_area" class="area--padded">
  <div class="grid-container">
    <div id="footer" class="grid-x grid-margin-x">
      <div class="[ cell small-12 medium-6 ]">
        {% include social.html %}
      </div>
      <div class="cell small-12 medium-6 align-self-middle">
        <p class="copyright">
          <small>
            &copy; Sidharth.
            All rights reserved.
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>
