<header id="header_area">
  <div class="grid-container">
    <div id="header" class="grid-x grid-margin-x">
      <div id="banner" class="cell small-6 medium-4 hide-for-small">
        <div id='logo'>
          <a href="/" class="logo">@king<strong>sidharth</strong></a>
        </div>
      </div>

      <div class="cell small-6 show-for-small-only">
        <ul class="menu align-right">
          <li id="menu-control__open">
            <a href="#" onclick="return open_navigation()">Menu</a>
          </li>
          <li id="menu-control__close" class="hide">
            <a href="#" onclick="return close_navigation()">Close</a>
          </li>
        </ul>
      </div>

      <nav class="cell small-12 medium-8">
        <ul class="menu show-for-medium align-right" id="main_navigation">
          {% include nav_items.html %}
        </ul>
      </nav>
    </div>
  </div>
</header>

<nav id="social_nav_area" class="background--grey show-for-medium">
  <div class="grid-container">
    <div id="social_nav" class="[ grid-x grid-margin-x ]">
      <div class="[ cell small-12 ]">
        {% include social.html %}
      </div>
    </div>
  </div>
</nav>
