<header id="header_area" class="">
  <div class="grid-container ">
    <div id="header" class="grid-x grid-margin-x">
      <div id="banner" class="cell small-12 medium-6 hide-for-small">
        {% if page.slug != 'home' %}
        <div id='logo'>
          <a href="/" class="logo">@king<strong>sidharth</strong></a>
        </div>
        {% endif %}
      </div>

      <nav id="main_navigation" class="cell small-12 medium-6">
        <ul class="menu">
          {% include nav_items.html %}
        </ul>
      </nav>

    </div>
  </div>
</header>
