<div id="media_area">
    <div id="media">

        <h3 class="h4">Featured On</h3>
        <a href="/media-mentions" class="[ text-center ]">
          <div class="[ grid-x grid-padding-x align-center-middle ][] text-center ][ c-logo-list ]" style="height: 120px;">
            <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
              <img src="{% base64 app/assets/images/bloomberg-logo.png %}" alt="Bloomberg" title="Feature on Bloomberg">
            </div>
            <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
              <img src="{% base64 app//assets/images/business-insider-logo.png %}" alt="Business Insider" title="Feature on Business Insider">
            </div>
            <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
              <img src="{% base64 app//assets/images/the-hindu-newspaper-logo.png %}" alt="The Hindu" title="Feature on The Hindu Newspaper">
            </div>
            <div class="[ cell medium-auto small-4 ][ c-logo-list--item ]">
              <img src="{% base64 app//assets/images/yourstory-logo.png %}" alt="Yourstory" title="Feature on Yourstory">
            </div>
          </div>
        </a>

  </div>
</div><!-- #media_area -->
