<li><a href="/" onclick="ga('send', 'event', 'Social Link', 'Click', 'Home Page', 'Navigation');">🏠 Home</a></li>
<li><a href="/work/" onclick="ga('send', 'event', 'Social Link', 'Click', 'Work Page', 'Navigation');">👨‍💻 Work</a></li>
<li><a href="/speaking/" onclick="ga('send', 'event', 'Social Link', 'Click', 'Speaking', 'Navigation');">🎤 Speaking</a></li>
<li><a href="/media-mentions/" onclick="ga('send', 'event', 'Social Link', 'Click', 'Features', 'Navigation');">😎 Features</a></li>
<li><a href="https://www.64notes.com/?ref=kingsidharth" onclick="ga('send', 'event', 'Social Link', 'Click', 'Blog', 'Navigation');">📃 Blog</a></li>
