<div id="projects_area" class="area--padded">
  <div class="grid-container">
    <div id="media" class="grid-x grid-margin-x text--pink" >

      <div class="[ cell small-12 ]">
        <h2>Other Projects</h2>

        <div>
          <a href="https://www.64notes.com?ref=kingsidharth" target="_blank">
          <h3>64 Notes</h3>
          <p>Blog on design, product, & business</p>
          <hr>
          </a>
        </div>
        <!-- <div>
          <a href="https://www.64notes.com?ref=kingsidharth" target="_blank">
          <h3>Anamorphic</h3>
          <p>Books, links, reviews, & other resources</p>
          <hr>
          </a>
        </div> -->
        
      </div>

    </div>
  </div>
</div><!-- #media_area -->
