<div id="projects__youtube" class="[ grid-x grid-margin-x ][ cell small-12 ]">
  <div class="[ cell small-12 ]">
    <h2>YouTube Vlog on Design, Product, Startups, & Career</h2>
  </div>
  <div class="[ cell small-12 medium-4 ]">
    {% include components/youtube_video.html id="KHKkF8efyMo" %}
  </div>
  <div class="[ cell small-12 medium-4 ]">
    {% include components/youtube_video.html id="Dm7h3YmAfJc" %}
  </div>

  <div class="[ cell small-12 medium-4 ]">
    <p>
      Behind the scenes process, thinking, and tons to learn about startups, tech,
      product management, and design. Plus discussions on career, management, and much more.
    </p>
    <p>
      Also watch interviews with various industry professionals working on the next big
      thing.
    </p>
    <p>
      <a href="" target="_blank">Checkout the YouTube Channel &rarr;</a>
    </p>
  </div>
</div>

<div id="project__newsletter_blog" class="[ grid-x grid-margin-x ][ cell small-12 ]">
  <div class="[ cell small-12 medium-4 ]">
    <h4><a href="https://64notes.com/">64 Notes — the Blog</a></h4>
    <p>Personal notes on product, design, and business made public. Been writing here since over a decade.</p>
  </div>
  <div class="[ cell small-12 medium-4 ]">
    <h4><a href="#">64 Notes — Newsletter</a></h4>
    <p>Private notes on design, product, startups, tech, and business — usually not published elsewhere. Also keep-up with everything else.</p>
  </div>
  <div class="[ cell small-12 medium-4 ]">
    <h4><a href="https://medium.com/@kingsidharth">Medium</a></h4>
    <p>Some of them also make it through Medium, been published on UX Collective, etc.</p>
  </div>
</div>
