<div id="projects_area">

  <div id="projects_2" class="grid-x grid-margin-x">
    <div class="[ cell small-12 ][ margin--bottom-2x margin--top ]">

      <ul class="[ menu ][ grid-x ]">
        <li class="[ cell small-12 medium-4 ]">
          <a href="https://twitter.com/kingsidharth" target="_blank">
            <img src="/assets/images/icons/twitter.svg" alt="Twitter" title="Follow on Twitter" class="[ icon ][ padding--right-half ]">
              Conversations, Thoughts, & Prayers; JK
          </a>
        </li>

        <li class="[ cell small-12 medium-4 ]">
          <a href="https://instagram.com/kingsidharth" target="_blank">
            <img src="/assets/images/icons/instagram.svg" alt="Instagram" title="Follow on Instagram" class="[ icon ][ padding--right-half ]">
              Let's talk 😬 (Better place to talk, srsly)
          </a>
        </li>

        <!-- <li>
          <a href="https://medium.com/@kingsidharth" target="_blank">
            <img src="/assets/images/icons/medium.svg" alt="Medium" title="Follow on Medium" class="[ icon ][ padding--right-half ]">
              Design & Prdouct on Medium
          </a>
        </li> -->

        <li class="[ cell small-12 medium-4 ]">
          <a href="https://www.linkedin.com/in/kingsidharth/" target="_blank">
            <img src="/assets/images/icons/linkedin.svg" alt="LinkedIn" title="Follow on LinkedIn" class="[ icon ][ padding--right-half ]">
              Mandated Bragging
          </a>
        </li>

        <li class="[ cell small-12 medium-4 ]">
          <a href="https://medium.com/@kingsidharth" target="_blank">
            <img src="/assets/images/icons/snapchat.svg" alt="Snapchat" title="Follow on Medium" class="[ icon ][ padding--right-half ]">
              Let's ghost each other on Snapchat
          </a>
        </li>

        <li class="[ cell small-12 medium-4 ]">
          <a href="http://vm.tiktok.com/aLa9Ct" target="_blank">
            <img src="/assets/images/icons/tiktok.svg" alt="TikTok" title="Follow on LinkedIn" class="[ icon ][ padding--right-half ]">
              Ticking Art & Experiments
          </a>
        </li>
      </ul>

    </div><!-- .cell -->

  </div>
</div>

<div id="projects_1" class="grid-x grid-margin-x">
  <div class="[ cell small-12 medium-6 ]">
    <div class="[ area--padded background--black margin--bottom-2x ][ grid-x grid-padding-x align-center ]">
      <a href="https://www.youtube.com/channel/UC9ejPfNHf7VryB-6mfr6NjA" target="_blank">
        <div class="[ cell small-6 ][ align-center ][ text-center ]">
          <img src="/assets/images/icons/youtube.svg" alt="King Sidharth's YouTube Channel" title="Watch on YouTube"
                style="max-width: 120px;" width="100%">
        </div>
        <h3 class="[ cell small-12 ][ align-center ][ text-center h4 ]">
          Vlogging about <br>Design, Product, Startups & Career
        </h3>
      </a>
    </div>
  </div><!-- .cell -->

  <div class="[ cell small-12 medium-6 ]">
    <div class="[ area--padded background--white margin--bottom-2x ]">
      <a href="https://www.64notes.com?ref=kingsidharth" target="_blank">
        <h3 class="h1">64 Notes</h3>
        <p>Notes on design, product, & business — been writing here since 2010</p>
      </a>
      <a href="https://medium.com/@kingsidharth" target="_blank">
        <img src="/assets/images/icons/medium.svg" alt="Medium" title="Follow on Medium" class="[ icon ][ padding--right-half ]">
          Also on Medium &rarr;
      </a>
    </div>
  </div><!--.cell-->

</div><!-- #projects_1 -->
