<!-- <div id="social_area" class="area--padded">
  <div class="grid-container">
    <div id="media" class="grid-x grid-margin-x text--pink" >

      <div class="[ cell small-12 ]">

        <h2>The Squad's On</h2> -->
        <ul class="menu">
          <li>
            <a href="https://twitter.com/kingsidharth" target="_blank">
              <img  src="/assets/images/icons/twitter.svg"
                    alt="Twitter"
                    title="Conversations, Thoughts, & Prayers; JK... Follow me on Twitter">
            </a>
          </li>
          <li>
            <a href="https://medium.com/@kingsidharth" target="_blank">
              <img  src="/assets/images/icons/medium.svg"
                    alt="Medium"
                    title="Design, Product, & Startup write-ups on Medium (No Paywall)">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/kingsidharth/" target="_blank">
              <img  src="/assets/images/icons/linkedin.svg"
                    alt="LinkedIn"
                    title="Mandatory Bragging & some useful discussions on LinkedIn">
            </a>
          </li>
          <li>
            <a href="https://instagram.com/kingsidharth" target="_blank">
              <img  src="/assets/images/icons/instagram.svg"
                    alt="Instagram"
                    title="Let's talk on Instagram">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC9ejPfNHf7VryB-6mfr6NjA" target="_blank">
              <img  src="/assets/images/icons/youtube-dark.svg"
                    alt="YouTube"
                    title="Videos on Design, Product, Startups, & Talks on YouTube">
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC9ejPfNHf7VryB-6mfr6NjA" target="_blank">
              <img  src="/assets/images/icons/tiktok.svg"
                    alt="TikTok"
                    title="Art & Experiments on Tittok">
            </a>
          </li>
          <li>
            <a href="" target="_blank">
              <img  src="/assets/images/icons/snapchat.svg"
                    alt="Snapchat"
                    title="Let's ghost each other on Snapchat!">
            </a>
          </li>
          <li>
            <a href="https://www.slideshare.net/KingSidharth" target="_blank">
              <img  src="/assets/images/icons/slideshare.svg"
                    alt="Slideshare"
                    title="Presentations from some of my talks are on Slideshare">
            </a>
          </li>
          <li>
            <a href="emailto:contact@kingsidharth.com" target="_blank">
              <img  src="/assets/images/icons/email.svg"
                    alt="Email"
                    title="Let's talk — Email me">
            </a>
          </li>
          <li>
            <a href="https://github.com/kingsidharth" target="_blank">
              <img  src="/assets/images/icons/github.svg"
                    alt="Github"
                    title="Source code of this site and some other experiments are on Github">
            </a>
          </li>
        </ul>
      <!-- </div>

    </div>
  </div>
</div><!-- #media_area -->
