<div id="social_area" class="area--padded">
  <div class="grid-container">
    <div id="media" class="grid-x grid-margin-x text--pink" >

      <div class="[ cell small-12 ]">

        <h4>The Squad's On</h4>
        <ul class="menu align-center">
          <li>
            <a href="https://twitter.com/kingsidharth" target="_blank">
              <img src="/assets/images/icons/twitter.svg" alt="Twitter" title="Follow on Twitter">
            </a>
          </li>
          <li>
            <a href="https://medium.com/@kingsidharth" target="_blank">
              <img src="/assets/images/icons/medium.svg" alt="Medium" title="Follow on Medium">
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/kingsidharth/" target="_blank">
              <img src="/assets/images/icons/linkedin.svg" alt="LinkedIn" title="Follow on LinkedIn">
            </a>
          </li>
          <li>
            <a href="https://instagram.com/kingsidharth" target="_blank">
              <img src="/assets/images/icons/instagram.svg" alt="Instagram" title="Follow on Instagram">
            </a>
          </li>
          <li>
            <a href="https://github.com/kingsidharth" target="_blank">
              <img src="/assets/images/icons/github.svg" alt="Github" title="Follow on Github">
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div><!-- #media_area -->
