<ul class="menu no-bottom-margin">
  <li>
    <a href="https://twitter.com/kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/twitter.svg %}"
            alt="Twitter"
            title="Conversations, Thoughts, & Prayers; JK... Live thoughts on Twitter">
    </a>
  </li>
  <li>
    <a href="https://instagram.com/kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/instagram.svg %}"
            alt="Instagram"
            title="Let's talk on Instagram">
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/kingsidharth/" target="_blank">
      <img  src="{% base64 app/assets/images/icons/linkedin.svg %}"
            alt="LinkedIn"
            title="Useful discussions & mandatory bragging on LinkedIn">
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/channel/UC9ejPfNHf7VryB-6mfr6NjA" target="_blank">
      <img  src="{% base64 app/assets/images/icons/youtube-dark.svg %}"
            alt="YouTube"
            title="Videos on Design, Product, Startups, & Talks on YouTube">
    </a>
  </li>
  <li>
    <a href="https://medium.com/@kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/medium.svg %}"
            alt="Medium"
            title="Design, Product, & Startup write-ups on Medium (No Paywall)">
    </a>
  </li>
  <li>
    <a href="http://vm.tiktok.com/aLa9Ct" target="_blank">
      <img  src="{% base64 app/assets/images/icons/tiktok.svg %}"
            alt="TikTok"
            title="Art & Experiments on Tittok">
    </a>
  </li>
  <li>
    <a href="https://www.snapchat.com/add/kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/snapchat.svg %}"
            alt="Snapchat"
            title="Let's ghost each other on Snapchat!">
    </a>
  </li>
  <li>
    <a href="emailto:contact@kingsidharth.com" target="_blank">
      <img  src="{% base64 app/assets/images/icons/email.svg %}"
            alt="Email"
            title="Let's talk — Email me">
    </a>
  </li>
  {% comment %}
  <li>
    <a href="https://www.slideshare.net/KingSidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/slideshare.svg %}"
            alt="Slideshare"
            title="Presentations from some of my talks are on Slideshare">
    </a>
  </li>
  <li>
    <a href="https://github.com/kingsidharth" target="_blank">
      <img  src="{% base64 app/assets/images/icons/github.svg %}"
            alt="Github"
            title="Source code of this site and some other experiments are on Github">
    </a>
  </li>
  {% endcomment %}
</ul>
