<div id="writing_area" class="area--padded">
  <div class="grid-container">
    <section id="writing">
      <section class="[ grid-x grid-margin-x ]">
        <div class="cell small-12 medium-6 medium-offset-1">
          <h2 id="title-4" class="title title--tilt-270 text--grey">Writing</h2>
          <p>
            You can find posts on <strong>design, startups, technology, personal
            finance</strong> on <a href="https://medium.com/@kingsidharth">Medium</a>
            and <a href="https://www.64notes.com">64 Notes</a>.
          </p>
        </div>
        <div class="cell small-12 medium-6">
          <!-- <p>
            Some of the work is mentioned/republished in publications like
            <strong>Bloomberg, Business Insider, MakeUseOf, Open Education Database, etc</strong>.
          </p> -->
        </div>
      </section>
    </section>
  </div>
</div><!-- writing_area -->
