
@mixin background-base($colour, $text-colour: false, $radius: $global-radius) {
  border-radius: $radius;
  background-color: $colour;

  @if $text-colour != false {
    color: $text-colour;
  }
}

@mixin background-link($link-colour) {
  a {
    color: $link-colour;
    &:hover, &:active {
      color: $link-colour;
      border-bottom-color: $link-colour;
    }
  }
}


.background--black {
  @include background-base($black, $white);
  @include background-link($white);
}

.background--blue {
  @include background-base($blue, $white);
  @include background-link($white);
}


.background--white {
  @include background-base($white);
  border: 1px solid $grey-d1;
}
