.box--padded {
  padding: 1rem;
}

.area--padded {
  @include breakpoint(small only) {
    padding: 1.5em;
  }

  @include breakpoint(medium up) {
    padding: 2.5em;
  }
}

.padding {
  padding: 1rem;
}

$directions: top, left, bottom, right;

@each $direction in $directions {
  .padding--#{$direction}-half {
    padding-#{$direction}: $global-padding/2;
  }

  .padding--#{$direction} {
    padding-#{$direction}: $global-padding;
  }

  .margin--#{$direction} {
    margin-#{$direction}: $global-padding;
  }

  .margin--#{$direction}-2x {
    margin-#{$direction}: $global-padding*2;
  }
}
