/*

  LOGO::OBJECTS

*/

#logo {
  padding: 0.75rem 1rem;
}

.logo {
  font-family: $body-font-family;
  text-transform: none;
  font-size: 1.2rem;
  line-height: 1;
  font-weight: normal;
  letter-spacing: 0px;
  text-decoration: none;
  border: none;
}

.logo--white {
  color: $white!important;
}
