/*

  TEXT:OBJECTS

*/


@each $colour, $value in $colour-map {
  .text--#{$colour} {
    color: $value;
  }
}

@each $colour, $value in $colour-map {
  .text--#{$colour}-inverse {
    color: $white;
    background: $value;
  }
}
